@media only screen and (min-width: 992px) {
    .routerComponent {
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        background: white;
        padding: 50px;
        height: auto;
        font-family: "Open Sans", arial, tahoma, verdana, sans-serif;
    }
}

@media only screen and (max-width: 600px) {
    .routerComponent {
        left: 50%;
        margin-left: 0px;
        transform: translateX(-50%);
        position: relative;
        background: white;
        padding: 25px;
        height: auto;
        font-family: "Open Sans", arial, tahoma, verdana, sans-serif;
    }
}