

@media only screen and (min-width: 992px) {
    .booktableContainer {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 600px) {
    .booktableContainer{
        margin-left: 0%;
    }
}
.booktable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1;
}

.tableCard {
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 24px;
    margin-right: 24px;
}


@media only screen and (min-width: 992px) {
     .tableCount {
         display: flex;
         justify-content: space-around;
         padding: 20px;
         font-size: 20px;
         font-weight: 600;
         box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.25);
         border-radius: 5px;
         margin-bottom: 30px;
     }   
}

@media only screen and (max-width: 600px) {
    .tableCount { 
        display: flex;
        justify-content: space-around;
        padding: 20px;
        font-size: 20px;
        font-weight: 600;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22);
        border-radius: 5px;
        margin-bottom: 30px;
        flex-direction: column;
    }
}

@media only screen and (min-width: 992px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media only screen and (max-width: 600px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media only screen and (min-width: 992px) {
    .card {
        flex: 0 1 calc(25% - 1em);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        border-radius: 5px;
        margin-bottom: 30px;
        margin-right: 30px;
        padding: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        flex: 0 1 calc(25% - 1em);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        border-radius: 5px;
        margin-bottom: 30px;
        padding: 10px;
    }
}



.available {
    color: rgb(62, 255, 213);
}

.booked {
    color: rgb(255, 62, 62);
}
.tableAction {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin: 20px 0 10px 0;
}

.editOrder {
    font-weight: 600;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    color: rgb(255, 62, 62);
    display: inline-block;
    letter-spacing: normal;
    -webkit-appearance: none;
    font-size: 16px;
    font-style: inherit;
    text-align: center;
    border-radius: 3px;
    outline: none;
    border-color: rgb(221, 227, 231);
    height: 40px;
    margin-right: 12px;
    width: 100%;
}

.resetOrder {
    font-weight: 600;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    color: rgb(23, 38, 51);
    display: inline-block;
    letter-spacing: normal;
    -webkit-appearance: none;
    font-size: 16px;
    font-style: inherit;
    text-align: center;
    border-radius: 3px;
    outline: none;
    border-color: rgb(221, 227, 231);
    height: 40px;
    margin-right: 12px;
    width: 100%;
}

.reserve {
    background-color: rgb(1, 43, 114);
    font-weight: 600;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    color: rgb(255, 255, 255);
    display: inline-block;
    letter-spacing: normal;
    -webkit-appearance: none;
    font-size: 16px;
    font-style: inherit;
    text-align: center;
    border-radius: 3px;
    outline: none;
    height: 40px;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 8px;
}

.tableNumber {
    border-radius: 50%;
    border: solid 2px;
    height: 20px;
    width: 20px;
    padding: 5px;
    text-align: center;
    display: inline-block;
}


.tableStatusNR {
    border-radius: 50%;
    border: solid 2px;
    height: 20px;
    width: 20px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    background-color: rgb(19, 201, 152);
    color: rgb(255, 255, 255);
}

.tableStatusReserved{
    border-radius: 50%;
    border: solid 2px;
    height: 10px;
    width: 10px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    background-color: rgb(255, 62,62);
    color: rgb(255, 255, 255);
}

.tableRow {
    display: flex;
    justify-content: space-between;
    margin: 8px 0 8px 0;
}



@media only screen and (min-width: 992px) {
    .filter{
        margin: 20px;
        font-size: 16px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 600px) {
    .filter{
        margin: 14px;
        font-size: 16px;
        font-weight: 600;
        display: flex;
    }
}

.formControl {
    width: 200px;
    height: 38px;
    border-color: black;
    font-size: 16px;
}



@media only screen and (min-width: 992px) {
    .marginLabel {
        margin-right: 16px;
        margin-left: 8px;
    }
}

@media only screen and (max-width: 600px) {
    .marginLabel {
        margin-right: 3px;
    }
}

.radios {
    cursor: pointer;
}

